body
{
    background-image: url("https://labfile.oss.aliyuncs.com/courses/10535/beans.jpg");
    font-family: 宋体;
    padding: 20px;
}
h1{
    font-family: 黑体;
    font-size: 40px;
}
h2{
    font-family: 黑体;
    font-size: 30px;
}
/* since斜体 */
h1+p{
    font-style: italic;
    font-family: 黑体;
}
div
{
    margin: auto;
    align-self: center;
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    text-align: center;
    padding: 20px;
}
hr
{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
/* 去掉小点 */
ul{
    list-style: none;
}
.coffee{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
    font-size: 18px;
    font-family: 黑体;
    display: inline-block;
    text-align: left;
}
.sweat{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
    font-size: 18px;
    font-family: 黑体;
    display: inline-block;
    text-align: left;
}
.price{
    width: 25%;
    font-size: 18px;
    font-family: 黑体;
    display: inline-block;
    text-align: right;
}
footer{
    font-size: 14px;
}
image{
    margin-top: -25px;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: brown;
}
a:active{
    color: brown;
}
section{
    line-height: 0%;
}